@use '../base/animations';
@use '../abstracts/variables' as var;

@mixin admin-header {
    align-self: center;
    animation: fadeFromBottom 1s ease-out;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    @media only screen and (min-width: 769px) {
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 9rem;
    }
}

@mixin admin-list-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2rem;
    border: 1px solid var.$dark-grey;
    border-radius: 0.5rem;
    min-width: 80%;
    max-width: 90%;

    @media only screen and (min-width: 769px) {
        min-width: 70%;
        max-width: 70%;
    }
}

@mixin admin-list-details {
    background: linear-gradient(40deg, rgba(var.$head-foot-colour, 1) 11%, rgba(var.$light-orange, 1) 74%, rgba(var.$dark-orange, 1) 94%);
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

@mixin admin-list-summary {
    padding-left: 1rem;
    padding-right: 2.5rem;
    position: relative;

    &::before {
        content: "×";
        position: absolute;
        color: var.$colour-white;
        top: 1.2rem;
        left: unset;
        right: 0.6rem;
        transform: rotate(-45deg);
        transform-origin: center;
        font-size: 2rem;
        line-height: 1rem;
        transition: 0.2s transform ease;

        @media only screen and (min-width: 769px) {
            font-size: 3rem;
            top: 1.6rem;
        }
    }
}

@mixin admin-item-id {
    display: inline-block;
    border-radius: 50%;
    background-color: var.$colour-white;
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    font-size: 1.1rem;

    &:before,
    &:after {
        content: '\200B';
        display: inline-block;
        line-height: 0px;
        width: 0.5rem;
        height: 0.5rem;
    }

    @media only screen and (min-width: 769px) {
        font-size: 1.4rem;
    }
}

@mixin hub-link-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    color: var.$colour-white;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(var.$primary-green,1) 0%, rgba(var.$secondary-green,1) 49%, rgba(var.$tertiary-green,1) 100%);
}

@mixin form-input {
    display: block;
    border: none;
    border-radius: 2rem;
    background-color: var.$light-grey;
    padding: 0.3rem;
    padding-left: 1rem;
    transition: all .2s;

    @media only screen and (min-width: 769px) {
        font-size: 2rem;
        padding: 0.5rem;
        padding-left: 1rem;
        width: 75%;
        margin: auto;
    }
}

@mixin form-textbox {
    width: 85%;
    height: 12rem;
    padding: 1rem;
    word-break: break-all;

    @media only screen and (min-width: 769px) {
        width: 60%;
        height: 15rem;
        margin-top: 1rem;
        font-size: 1.7rem;
    }
}

@mixin del-btn {
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    color: var.$colour-white;
    background: linear-gradient(270deg, var.$dark-red, var.$dark-orange);
    background-size: 400% 400%;
    box-shadow: 0px 1px 5px 2px rgba(var.$colour-black, 0.30);
}

@mixin add-btn {
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    color: var.$colour-white;
    background: linear-gradient(270deg, var.$secondary-green, var.$dark-orange);
    background-size: 400% 400%;
    box-shadow: 0px 1px 5px 2px rgba(var.$colour-black, 0.30);
}

@mixin accordion-header {
    cursor: pointer;
    display: block;
    position: relative;
    transition: all .3s ease-in-out;
    float: none;
    clear: both;
    border-top: 1px solid var.$dark-grey;
    padding: 1.5rem 2rem 1.5rem 5px;

    &::after {
        content: "";
        background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 14 13' xmlns='http://www.w3.org/2000/svg' stroke='%23f78a0c' stroke-width='2' fill='%23f78a0c' fill-rule='evenodd' stroke-dasharray='0,0' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M11.609 6.535 7.074 11.23M2.378 6.696l4.696 4.535'/%3E%3C/svg%3E") scroll no-repeat 50% 50%;
        width: 14px;
        height: 13px;
        top: 37%;
        right: 12px;
        transform: translate(0) rotate(-180deg);
        transform-origin: 50% 60%;
        position: absolute;
        transition: all .3s ease-in-out;
    }

    &.closed::after {
        transform: translateZ(0) rotate(0);
    }
}

@mixin accordion-content {
    overflow: hidden;
    perspective-origin: 50% 0%;
    perspective: 1000px;
    position: relative;
    border-bottom: 1px solid var.$dark-grey;
    transition: all .3s cubic-bezier(.7, .5, .64, .92);

    &__item {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: bottom center;
        transform: translateZ(0) rotateX(0);
        transform-style: preserve-3d;
        transition: all .3s cubic-bezier(.5, .13, .24, .86);
    }
}