$default-font-size: 1.6rem;

// COLOURS
$colour-white: #fff;
$colour-black: #000000;
$primary-green: #17660b;
$secondary-green: #00AA00;
$tertiary-green: #00E96A;
$head-foot-colour: #f2ce6b;
$light-orange: #f2a62c;
$dark-orange: #f78a0c;