@use '../../sass/abstracts/variables' as var;
@use '../../sass/abstracts/mixins' as mix;

.category-prods-header {
    @include mix.admin-header;
}

.category-prods {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;

    &__sort {
        margin-bottom: 2rem;

        &__label {
            font-size: 1.5rem;
            margin-right: 0.5rem;

            @media only screen and (min-width: 769px) {
                font-size: var.$default-font-size;
                margin-right: 1rem;
            }
        }

        &__select-wrap {
            width: 100%;
            display: inline;
            border: 1px solid var.$dark-orange;
            border-radius: 0.5rem;
            padding: 0.5rem 0.5rem;

            &::after {
                content: "";
                background-color: var.$dark-orange;
                width: 0.8rem;
                height: 0.5rem;
                display: inline-block;
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            }
        }

        &__select {
            appearance: none;
            border: none;
            outline: none;
            background-color: transparent;
            border-width: 0;
            font-size: 1.5rem;
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }

        @media only screen and (min-width: 769px) {
            margin-top: 1.5rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 4rem;
        
        @media only screen and (min-width: 769px) {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(4, 25rem);
        }
    }

    @media only screen and (min-width: 769px) {
        max-width: 100%;
    }
}

.no-category-prods {
    text-align: center;
    align-self: center;
    font-size: 1.8rem;
    grid-column: 1 / 5;

    @media only screen and (min-width: 769px) {
        font-size: 2rem;
    }
}

.child-category-slider {
    overflow-y: hidden;
    //overflow-x: auto;
    padding-bottom: 1.5rem;
    max-width: 100%;

    &__links {
        max-width: inherit;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        
        &__link {
            display: inline-block;
            border-radius: 1rem;
            padding: 0.3rem 1.5rem;
            font-size: 1.4rem;
            text-decoration: none;
            color: var.$colour-white;
            background: linear-gradient(270deg, rgba(var.$light-orange, 1) 10%, rgba(var.$dark-orange, 1) 90%);
            text-align: center;
            white-space: nowrap;
            box-shadow: 0 2px 4px rgba(var.$dark-grey, 0.65);

            &:not(:first-child) {
                margin-left: 1rem;

                @media only screen and (min-width: 769px) {
                    margin-left: 1.7rem;
                }
            }

            &:hover,
            &:focus {
                transform: translateY(-0.5rem);
                box-shadow: 0 3px 4px rgba(var.$dark-grey, 0.75);
            }

            @media only screen and (min-width: 769px) {
                transition: all .2s ease-out;
                margin-top: 0.6rem;
                font-size: 1.8rem;
            }
        }
    }

    @media only screen and (min-width: 769px) {
        max-width: 75%;
    }
}