@use '../../sass/abstracts/variables' as var;

.star-rating {

    &__input {
        appearance: none;

        &:checked ~ .star-rating__star-label .star-rating__star-icon {
            color: var.$dark-grey;
        }
    }

    &__star-label {
        cursor: pointer;
        font-size: 3rem;
        padding: 0 0.2rem;

        &--half {
            @extend .star-rating__star-label;
            position: relative;
            padding-right: 0;
            margin-right: -1.7rem;
            z-index: 3;
        }
    }

    &__star-icon {
        pointer-events: none;
        color: var.$dark-orange;
    }

    &:hover .star-rating__star-label .star-rating__star-icon {
        color: var.$dark-orange;
    }
}

.star-rating__input:hover ~ .star-rating__star-label .star-rating__star-icon {
    color: var.$dark-grey;
}