@use '../../sass/abstracts/variables' as var;
@use '../../sass/abstracts//mixins' as mix;
@use '../../sass/base/animations';

.modal {

    &--hidden {
        display: none;
    }

    &--visible {
        @include mix.modal-black-back;
    }

    &__inner-container {
        background-color: var.$colour-white;
		padding: 2.5rem;
		border-radius: 1rem;

        &__close-btn {
            appearance: none;
            border: none;
            color: var.$colour-white;
            background: linear-gradient(270deg, var.$dark-red, var.$dark-orange);
            background-size: 400% 400%;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-bottom: 1rem;

            @media only screen and (min-width: 769px) {
                font-size: 1.5rem;
                padding: 0.6rem;

                &:hover,
                &:focus {
                    animation: gradientShift 1s ease;
                }
            }
        }

        @media only screen and (min-width: 769px) {
            width: 65%;
        }
    }
}