@use '../../sass/abstracts/variables' as var;
@use '../../sass/abstracts/mixins' as mix;
@use '../../sass/base/animations';

.navbar {
    background: linear-gradient(40deg, rgba(var.$head-foot-colour, 1) 11%, rgba(var.$light-orange, 1) 74%, rgba(var.$dark-orange, 1) 94%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;

    &__link {
        width: 45%;
        border-radius: 2rem;
        background-color: var.$colour-white;
        padding: 1rem;
        margin: 1rem;

        @media only screen and (min-width: 769px) {
            width: 15%;
        }
    }

    &__toggle {
        display: none;

        &:checked ~ .navbar__mobile-menu {
            transform: translateX(0%);
        }
    }

    &__logo {
        min-width: 10%;
        min-height: 10%;
        margin-right: 32%;

        &__img {
            max-width: inherit;
        }

        @media only screen and (min-width: 769px) {
            align-self: center;
            min-width: 5%;
            min-height: 5%;
            margin-right: 0;
            margin-left: 12%;
        }
    }

    &__mobile-menu {
        background: linear-gradient(0deg, rgba(var.$dark-orange, 1) 0%, rgba(var.$light-orange, 1) 42%);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 55%;
        transition: transform .3s ease;
        z-index: 1000;
        transform: translateX(100%);
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-template-rows: 10% 12% 10% 1fr;
        grid-template-areas: "admin admin close close"
                             "btn btn btn btn"
                             ". cart cart ."
                             "menu menu menu menu";

        &__toggle {
            display: none;
        }

        &__close {
            color: var.$colour-white;
            font-size: 3rem;
            text-align: center;
            grid-area: close;
            margin-top: 1rem;
            margin-left: 1rem;
        }

        &__admin-container {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-area: admin;
            text-decoration: none;
            color: var.$colour-white;

            &__crown {
                width: 30%;
                filter: grayscale(1) invert(1);
            }
        }

        &__button-group {
            display: flex;
            grid-area: btn;
            justify-content: space-evenly;
            align-items: center;

            &__button {
                text-decoration: none;
                border-radius: 1rem;
                padding: 1rem;
                font-size: 1.3rem;
                color: var.$colour-black;
                background-color: var.$colour-white;
                box-shadow: 0px 3px 7px 2px rgba(var.$colour-black, 0.42);
            }
        }

        &__cart-container {
            margin-top: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: cart;

            &__item-num {
                @include mix.admin-item-id;
                position: absolute;
                right: 6.4rem;
                top: 24%;
                color: var.$colour-white;
                background-color: var.$dark-blue;
                z-index: 4000;
                font-size: 1.3rem;
            }

            &__basket {
                width: 40%;
                filter: grayscale(1) invert(1);
            }
        }

        &__categories {
            grid-area: menu;
            list-style: none;
            overflow: scroll;

            &__title {
                font-size: 1.4rem;
                margin-bottom: 0.6rem;
                text-decoration: underline;
                color: var.$colour-white;
                text-align: center;
            }
        }

        @media only screen and (min-width: 769px) {
            display: none;
        }
    }

    &__main-menu {
        display: none;

        @media only screen and (min-width: 769px) {
            display: block;
            min-height: 100%;
            padding: 3rem;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(var.$dark-orange, 1) 0%, rgba(var.$light-orange, 1) 42%);
            transition: transform 0.3s ease-out;
            z-index: 2;
            overflow-y: hidden;

            &__backing {
                display: none;

                &--open {
                    @include mix.modal-black-back;
                    overscroll-behavior-y: contain;
                }
            }

            &__heading {
                text-align: center;
                color: var.$colour-white;
                font-size: 1.8rem;
                text-decoration: underline;
                margin-bottom: 1.5rem;
                margin-top: 4rem;
            }

            &__categories-inner {
                display: flex;
                gap: 1.5rem;
            }
        }
    }

    &__dropdown-menu {
        display: none;
        position: absolute;
        top: 8.5rem;
        right: 6rem;
        transition-delay: .3s;
        min-width: 15%;
        z-index: 999999;

        @media only screen and (min-width: 769px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            visibility: hidden;
            background-color: var.$colour-white;
            border: 1px solid var.$dark-grey;
            padding: 2rem;
            text-align: center;

            &:hover {
                visibility: visible;
            }

            &__main-link {
                text-decoration: none;
                color: var.$colour-white;
                font-size: 1.3rem;
                padding: 1rem;
                margin-bottom: 0.5rem;
                border-radius: 0.5rem;
                background: radial-gradient(circle, rgba(var.$primary-green, 1) 0%, rgba(var.$secondary-green, 1) 80%);
                box-shadow: 0px 3px 7px 2px rgba(var.$colour-black, 0.20);

                &:hover,
                &:focus {
                    background: radial-gradient(circle, rgba(var.$primary-green, 1) 0%, rgba(var.$secondary-green, 1) 70%);
                }
            }

            &__no-acct-link {
                border-bottom: 1px solid var.$dark-grey;
                padding-bottom: 1rem;
            }

            &__loggedin-title {
                margin-top: 0.8rem;
            }

            &__link-group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 0.4rem;

                &__link {
                    text-decoration: none;
                    color: var.$colour-black;
                    font-size: 1.3rem;

                    &:hover,
                    &:focus {
                        color: var.$dark-orange;
                        text-decoration: underline;
                    }
                }
            }

            &__orders-link {
                @extend .navbar__dropdown-menu__link-group__link;
                border-bottom: 1px solid var.$dark-grey;
                padding-bottom: 1rem;
            }
        }
    }

    &__link-group {
        display: none;

        @media only screen and (min-width: 769px) {
            margin-right: 2.5rem;
            display: flex;
            align-items: center;

            &__admin-container {
                text-decoration: none;
                color: var.$colour-white;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.4rem;
                margin-right: 2rem;
                padding: 1rem;
                border-radius: 0.5rem;

                &__crown {
                    width: 3rem;
                    filter: grayscale(1) invert(1);
                }

                &:hover,
                &:focus {
                    border: 1px solid var.$colour-white;
                }
            }

            &__acc-link {
                text-decoration: none;
                text-align: center;
                color: var.$colour-white;
                font-size: 1.4rem;
                padding: 1rem;
                border-radius: 0.5rem;
                transition: all .5s ease;
                margin-right: 2rem;

                &:hover,
                &:focus {
                    border: 1px solid var.$colour-white;
                }

                &:hover ~ .navbar__dropdown-menu {
                    visibility: visible;
                }
            }

            &__cart-container {
                padding: 1rem;
                border-radius: 0.5rem;
                text-decoration: none;
                position: relative;

                &:hover,
                &:focus {
                    border: 1px solid var.$colour-white;
                }
                
                &__basket {
                    width: 3rem;
                    filter: grayscale(1) invert(1);
                }

                &__item-num {
                    @include mix.admin-item-id;
                    position: absolute;
                    right: 2.2rem;
                    top: -0.2rem;
                    color: var.$colour-white;
                    background-color: var.$dark-blue;
                }
            }
        }
    }

    &__hamburger-container {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 18px;
        width: 3rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;

        @media only screen and (min-width: 769px) {
            display: none;
        }

        &__hamburger,
        &__hamburger::before,
        &__hamburger::after {
            display: block;
            position: absolute;
            background-color: var.$colour-white;
            height: 4px;
            border-radius: 2px;
            width: 3rem;
        }

        &__hamburger::before {
            content: '';
            margin-top: -8px;
        }

        &__hamburger::after {
            content: '';
            margin-top: 8px;
        }
    }

    &__menu-hamburger-container {
        @extend .navbar__hamburger-container;
        position: absolute;
        margin: 0;
        left: 1.5%;

        @media only screen and (min-width: 769px) {
            display: flex;
        }

        @media only screen and (max-width: 480px) {
            display: none;
        }
        
        &__hamburger,
        &__hamburger::before,
        &__hamburger::after {
            @extend .navbar__hamburger-container__hamburger;
            height: 6px;
            width: 4rem;
            border-radius: 0.5rem;
        }

        &__hamburger::before {
            content: '';
            margin-top: -11px;
        }

        &__hamburger::after {
            content: '';
            margin-top: 11px;
        }
    }

    &__span-burger {
        display: none;

        @media only screen and (min-width: 769px) {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 4rem;
            height: 4rem;
            background: transparent;
            border: none;
            cursor: pointer;
            justify-content: space-around;
            z-index: 10;

            &__outer {
                position: relative;
                width: 4rem;
                height: 4rem;
                left: 2%;
            }

            &__span {
                width: 4rem;
                height: 0.7rem;
                border-radius: 0.5rem;
                z-index: inherit;
                transition: all .3s linear;

                &:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
                
                &--closed {
                    @extend .navbar__span-burger__span;
                    background: var.$colour-white;
                }

                &--open {
                    @extend .navbar__span-burger__span;
                    background: var.$colour-white;

                    &:first-child {
                        transform: rotate(45deg) translateY(2rem) translateX(1.1rem);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                        transform: translateX(2rem);
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg) translateY(-1rem);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 769px) {
        padding: 0.5rem;
        justify-content: space-between;
    }
}

.recursive-menu {
    font-size: 1.2rem;
    color: var.$colour-white;
    padding-bottom: 1rem;

    &__menu-item {

        &__heading {
            font-size: 1.4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;

            &__title {
                margin-left: 0.2rem;
                text-decoration: none;
                color: var.$colour-white;
                transition: all .2s ease;
                border-radius: 0.5rem;

                &:hover {
                    background-color: var.$colour-white;
                    color: var.$dark-orange;
                }

                @media only screen and (min-width: 769px) {
                    padding: 0.5rem;
                }
            }

            @media only screen and (min-width: 769px) {
                font-size: 1.6rem;
            }
        }

        &__chevron {
            filter: brightness(0) invert(1);
            max-width: 8%;
        }

        &__children {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0.7rem;
        }
    }
}