@use './../../sass/abstracts/variables' as var;

.outer-footer {
    margin-top: auto;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(40deg, rgba(var.$head-foot-colour, 1) 11%, rgba(var.$light-orange, 1) 74%, rgba(var.$dark-orange, 1) 94%);
    padding: 1.5rem;

    @media only screen and (min-width: 769px) {
        display: grid;
        grid-template-areas:"left . right far-right"
                         "left . right far-right";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 30% 1fr 25% 15%;
        background-color: var.$head-foot-colour;
        padding: 1.5rem;
    }
}

.to-top-button {
    width: 100%;
    padding: 0.5rem;
    appearance: none;
    border: none;
    font-size: 1.3rem;
    color: var.$colour-white;
    background-color: var.$light-orange;
    transition: all .1s;

    &:hover {
        background-color: var.$dark-orange;
        cursor: pointer;
    }
}

.footer-logo-link {
    background-color: var.$colour-white;
    padding: 1rem;
    border-radius: 2rem;
    align-self: center;
    width: 25%;

    @media only screen and (min-width: 769px) {
        background-color: var.$colour-white;
        padding: 1rem;
        border-radius: 2rem;
        grid-area: left;
        margin-left: 2.5rem;
        width: 45%;
        max-width: 50%;
        max-height: 75%;
        align-self: center;
    }
}

.footer-link-container {
    display: none;

    @media only screen and (min-width: 769px) {
        grid-area: right;
        display: flex;
        flex-direction: column;
        justify-self: end;
        align-items: center;
    }

    &__link {
        font-size: 1.2rem;
        padding: 0.5rem;
        background-color: transparent;
        text-decoration: none;
        color: var.$colour-white;
        border: 1px solid var.$colour-white;
        border-radius: 1rem;
        transition: all .1s;

        &--first {
            @extend .footer-link-container__link;
            margin-bottom: 0.5rem;
        }

        &:hover {
            background-color: var.$dark-blue;
        }
    }

    &__heading {
        font-size: 1.4rem;
        color: var.$colour-white;
        margin-bottom: 0.5rem;
    }

    &--rightmost {
        @extend .footer-link-container;
        justify-self: center;

        @media only screen and (min-width: 769px) {
            grid-area: far-right;
            justify-self: center;
        }
    }
}